.summary {
  .footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .border-btn{
    border-bottom: 1px solid #d1ccc0;
  }
  .total{
    font-weight: 500;
  }
}
