.image-upload {
  .button-image {
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6f6868;
    border-radius: 4px;
    i {
      font-size: 30px;
    }
  }
  .image {
    width: 150px;
    height: 150px;
  }
  .image-container {
    position: relative;
  }
  .menu-image {
    background-color: white;
    width: 23px;
    padding: 2px;
    position: absolute;
    position: absolute;
    bottom: 6px;
    left: 3px;
    i {
      color: #4769d6;
      font-size: 17px;
      cursor: pointer;
    }
  }
}
