<div class="w-full flex justify-content-between">
    <div class="tabs w-full">
        <p-tabView [activeIndex]="index" (onChange)="changeTab()" data-cy="pdp-tabs-modal">
            <p-tabPanel [header]="'pdp-tab-overview' | translate">
                <app-product-detail *ngIf="!loading;else skeleton"></app-product-detail>
                <ng-template #skeleton>
                    <div class="grid">
                        <div class="sm:1 md:1 xl:col-1">
                            <div class="img-miniatures grid" data-cy="pdp-img-secondary">
                                <p-skeleton *ngFor="let i of [1,2,3,4]" width="100%" class="col-3 xl:col-12 mb-5"
                                    height="5rem"></p-skeleton>
                            </div>
                        </div>
                        <div class="col-12 sm:5 md:6 xl:col-7">
                            <p-skeleton height="100%"></p-skeleton>
                        </div>
                        <div class="col-12 sm:6 md:5 xl:col-4">
                            <p-skeleton height="400px"></p-skeleton>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel [header]="'pdp-tab-related' | translate">
                <app-products-related [category]="productCategory" (firstTab)="showFirstTab()"></app-products-related>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="mt-3 close-modal">
        <i class="pi pi-times" (click)="close()"></i>
    </div>
</div>