.form-container {
  font-size: 14px !important;
  height: 80vh !important;
}
:host ::ng-deep p-password {
  position: relative;
}
:host ::ng-deep .p-inputtext {
  width: 100%;
  padding: 1rem !important;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}
:host ::ng-deep .p-password-input input {
  width: 100%;
  padding: 1rem !important;
  outline: 0 none;
  outline-offset: 0;
  font-size: 14px;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}
:host ::ng-deep .pi-eye {
  transform: scale(1.6);
  margin-right: 1rem;
  right: 0.5rem;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  color: var(--primary-color) !important;
}
:host ::ng-deep .pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
  color: var(--primary-color) !important;
}

:host ::ng-deep .layout-main-container {
  padding: 0 !important;
}

.unregistered > label {
  cursor: pointer;
}
