<div class="flex form-container align-items-center justify-content-center overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img data-cy="logo-img" [src]="company.logo" alt="logo" class="mb-5"
                style="width:81px; height:60px; object-fit: contain;" />
        </div>
        <div *ngIf="isSent" class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, #fafafa 38.9%, #edf1f500);">
                <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2 text-center">{{'verify-email' |
                    translate}}</h1>
                <p class="text-600 text-center">{{'check-your-email' | translate}}</p>
                <div class="img-access flex justify-content-center">
                    <img src="https://main.cdn.wish.com/web/4ea6ef18e357/img/user_verification/verify_email.png"
                        width="200px" alt="Access denied" class="mt-6 mb-6">
                </div>
                <div class="action-button flex justify-content-center">
                    <button *showClientSide routerLink="/login" pButton pRipple type="button"
                        [label]="'go-to-login' | translate"
                        class="p-button-outlined p-button-rounded p-button-lg mr-2 mb-2 p-4 w-6 text-2xl"></button>
                </div>
            </div>
        </div>
        <div *ngIf="!isSent" class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, #fafafa 38.9%, #edf1f500);">
                <form class="form" data-cy="form-profile" [formGroup]="form" (ngSubmit)="validateRecaptcha()">

                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">{{ 'request-password-recovery' | translate }}
                        </div>
                    </div>
                    <div class="w-full md:w-10 mx-auto">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">{{ 'profile.email' |
                            translate
                            }}</label>
                        <input id="email" data-cy="input-email" type="text" [formControl]="formControl.email" pInputText
                            class="w-full mb-3" style="padding:1rem;" data-cy="input-email" name="email">
                        <p class="text-600 font-medium">{{ 'send-email-subtitle' | translate }}</p>
                        <re-captcha #captchaRef size="invisible" (resolved)="resolved($event)"
                            siteKey="6LdK6TshAAAAAJYl9rYCTuqmMonnS7No2rWNcz-Y"></re-captcha>
                        <button data-cy="button-submit" [disabled]="!this.form.valid" type="submit" pButton pRipple
                            [label]="'send' | translate" class="w-full p-3 text-2xl" *showClientSide></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>